page{
	color: white;
}
:deep(.custom-tabber){
	
	background: linear-gradient(to right bottom, #332a86, #572f85) !important;
}
.tabbarpage-container{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(to right bottom, rgba(42, 32, 106, 1.0), rgba(59, 18, 79, 1.0));
	display: flex;
	flex-direction: column;
}
.tabbarpage-body{
	flex: 1;
	width: 100%;
	position: relative;
}
/* *{
	letter-spacing: 1px;
} */
/* .tabbarpage-tabbar{
	margin: 8px 0 20px;
	z-index: 0;
} */

.theme-card{
	/* background-color: #e8f7fb; */
	background: linear-gradient(to right bottom, #332a86, #742f85);
	color: #fff !important;
}

/* :deep(.custom-tabber){
	background-color: #332a86 !important;
} */

.page-header{
	display: flex; 
	justify-content: center; 
    align-items: center; 
	font-size: large;
	margin-bottom: 7px;
	height: 35px;
}

.page-header-back{
	align-self: center;
	width: calc(100vw - 36px);
	display: flex; 
	justify-content: space-between; 
    align-items: center; 
	font-size: large;
	margin-bottom: 7px;
	flex-shrink: 0;
	height: 35px;
}

.scrollable{
	overflow-y: scroll;
}

/* .ai-btn{
		position: fixed;
		bottom: 80px;
		right: 20px;
		width: 48px;
		height: 48px;
		color: #fff;
		background: linear-gradient(to right bottom, #d656d488, #2341ad66);
		backdrop-filter: blur(4px);
		border-radius: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 19px;
		letter-spacing: 2px;
		animation: right-in-ani .6s 1;
	} */
	
.status_bar {
    height: var(--status-bar-height);
    width: 100%;
}